html{
    background: url("https://zakagioboi.ru/assets/images/products/space/SPACE-76894183.jpg") repeat-x;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul :after {
    content: "";
    display: table;
    clear: both;
}
li{
    width: 48%;
    float: left;
    position: relative;
    margin: 1%;
}
img {
    display: block;
    width: 100%;
}
li:nth-child(1):hover img {
    filter: blur(3px);
}
li:hover span {
    bottom: 10px;
    opacity: 1;
}
p{
    text-align: center;
}