.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:8px;
}

.mainmenubtn:hover {
    background-color: red;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: black;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.mainmenubtn:hover {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}